<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mytwistedidea.wordpress.com.prayukti"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_prayukti"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WebViewing"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SendJasonRegister"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EventsAll"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EventsMultiple"
            android:screenOrientation="portrait" />
        <activity
            android:name=".NewRegister"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Splash"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="mytwistedidea.wordpress.com.prayukti.EventCoordinator" ></activity>
        <activity android:name="mytwistedidea.wordpress.com.prayukti.SendJasonEventsSelection" ></activity>
        <activity android:name="mytwistedidea.wordpress.com.prayukti.EventSelection" ></activity>
        <activity android:name="mytwistedidea.wordpress.com.prayukti.ForgottenPassword"></activity>
    </application>

</manifest>